/* [Global] */
p { line-height: 1.9; }

label { display: block; }
input[type=radio] + label, input[type=checkbox] + label { display: inline-block; padding-left: 10px; font-weight: normal; }

button[disabled], html input[disabled] { background: rgb(235, 235, 228); }
.col-xs-6:nth-of-type(2n), .col-sm-6:nth-of-type(2n) { margin-bottom: 30px; }
[class*=col-md], [class*=col-lg] { margin-bottom: inherit !important; }
/* make bootstrap dropdowns work on hover */
.navbar-nav .dropdown:hover > .dropdown-menu { display: block; }
.navbar-nav .dropdown:hover > a[data-toggle=dropdown] + .dropdown-menu { display: none; }
.navbar-nav .dropdown.open > a[data-toggle=dropdown] + .dropdown-menu { display: block; }
.navbar-nav .dropdown-submenu { position: relative; }
.navbar-nav .dropdown-submenu:hover > .dropdown-menu { display: block; top: -6px; margin: 0; left: 100%; }

.modal-body { min-height: 70px; }
.modal-body .progress { top: 50%; left: 30px; right: 30px; height: 30px; margin-top: -15px; }
.modal-body iframe { z-index: 1; }

.text-muted a { color: inherit; }
.alert a { color: inherit; }

.ui-autocomplete { z-index: 10; }

/* search autocomplete stuff */
.search-box input { vertical-align: top; }
.typeahead { background-color: #fff; }

.typeahead:focus { border: 2px solid #0097cf; }

.tt-hint { color: #999 !important; }

.tt-dropdown-menu { position: static !important; }

.tt-suggestion { padding: 2px 15px; white-space: normal !important; }

.tt-suggestion.tt-is-under-cursor { color: #fff; background-color: #428bca; }

.tt-suggestion p { margin: 0; }

/* reset some stuff that bootstrap breaks */
.bx-wrapper *, .addthis_toolbox * { box-sizing: content-box; }
.bx-wrapper { margin-bottom: 20px; }
.bx-controls-direction { opacity: 0.25; transition: 0.25s; }
.bx-controls-direction:hover { opacity: 0.75; transition: 0.25s; }

.thumbnail { text-align: center; }
.thumbnail .quick-view { top: 0px; left: 50%; width: 120px; margin-left: -60px; opacity: 0; display: none; transition: 0.25s; z-index: 4; }
.thumbnail:hover .quick-view { top: 100px; display: block; opacity: 1; transition: 0.25s; }
.thumbnail img, .Slideshow img, #imgMfgLogo, img { max-width: 100%; }
.zoomWrapper img { max-width: none; }
.thumbnail:hover { text-decoration: none; }

.homepage-product .thumbnail { min-height: 260px; line-height: 260px; margin-bottom: 10px; }
.homepage-product .thumbnail img { display: inline; }

.product-flag { width: 150px; height: 150px; display: none\9; line-height: 1.5; }
.product-flag span { background: #222; color: #eee; text-align: center; display: block; box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5); position: absolute; width: 100%; }
.product-flag.top span { bottom: 0; }
.product-flag.bottom span { top: 0; }

.product-flag.left { left: -90px; }
.product-flag.right { right: -90px; }
.product-flag.top { top: -90px; }
.product-flag.bottom { bottom: -90px; }
.product-flag.top.left { transform: rotate(-45deg); -ms-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }
.product-flag.top.right { transform: rotate(45deg); -ms-transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); }
.product-flag.bottom.left { transform: rotate(45deg); -ms-transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); }
.product-flag.bottom.right { transform: rotate(-45deg); -ms-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }

input[type=text], input[type=password], input[type=email], select, textarea { min-height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.428571429; color: #555; vertical-align: middle; background-color: #fff; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
select { padding: 6px; }
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select:focus, textarea:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6); }

input, select, textarea { max-width: 100%; }

.Hidden { display: none; }
.AddressBookNameTextbox { width: 194px; }
.AddressBookCityTextbox { width: 152px; }
.AddressBookStateTextbox { width: 160px; }
.AddressBookZipCodeTextbox { width: 112px; }
.AddressBookNotes { font-family: Verdana; font-size: 10px; }
.ProductGroupItemPricing { white-space: nowrap; }
.ProductGroupItemQuantity { width: 40px; }
.ProductGroupItemDescription { margin: 0px 4px 0px 4px; }
.CustomPaymentMethodsAmountArea { float: right; }
.CustomPaymentMethodsAmountTextbox { width: 80px; }
.CustomPaymentMethodsFieldName { padding-left: 15px; width: 100px; text-align: right; }
.CustomPaymentMethodsChooseArea { padding-left: 35px; }
.CustomPaymentMethodsSeparator { height: 1px; color: #999999; }
.MicroStoreMoreInfoLink { font-size: 10px; }
.PaymentMethodsCC {  }
.PaymentMethodsNewCardNum {  }
.PaymentMethodsNewCardName {  }
.PaymentMethodsChoosePaypalButton { padding-left: 35px; }
.PaymentMethodsCustomFieldName { padding-left: 35px; width: 200px; }
.PaymentMethodsChooseCustomButton { padding-left: 35px; }
.PaymentMethodsEcheckTextbox { width: 75px; }
.PersonalizationFileUpload { width: 250px; }
.ProductReviewTagSelectorRemoveTagArea { width: 15px; text-align: center; }
.ProductReviewTagSelectorRemoveTagImage { border: 0 none; }
.RelatedItemsContainer { padding: 10px; }
.RelatedItemsSeparator { color: #999999; height: 1px; }
.RelatedItemsProductPhotoArea { float: left; width: 14%; }
.RelatedItemsProductNameArea { float: left; width: 34%; }
.RelatedItemsPricingArea { float: left; width: 24%; }
.RelatedItemsAddToCartArea { float: left; width: 24%; text-align: right; }
.RelatedItemsQtyTextbox { width: 40px; }
.RelatedItemsMessageText { float: left; width: 24%; text-align: right; }
.RelatedItemsAddToCartButton { clear: both; text-align: right; }
.ShippingMethodCalendarPickerArea { float: left; width: 49%; }
.ErrorText, .errorText { display: block; }
.attentionText { background: #e5e5e5; margin: 10px 0; padding: 10px; color: #000; }
.itemoriginalprice { text-decoration: line-through; }
.EProductCredentials { font-weight: bold; }
.EProductCredentials span { font-weight: normal; padding-right: 20px; }
.EProductNameContainer { display: inline; padding-right: 20px; }
.EProductURLContainer { display: inline; }
.EProductItemContainer { text-align: left; }
.ShippingEstimationZipTextbox { width: 100px; }
.ShippingEstimationItemInfo .QtyTextbox { width: 50px; text-align: center; }

div.ac-admin-help { background: #fafafa; border: none; border-radius: 3px; color: #666; font-family: inherit; font-size: inherit; }
/* [/Global] */

/* [Layout] */

/* [/Layout] */

/* [Widgets] */

/* [/Widgets] */

/* [ProductDetails] */
.ProductDetailsPriceLabel { display: none; }
input.ProductDetailsQuantityTextBox { width: 70px; text-align: center; padding: 0; }
#lblProductStatus:after { content: " - "; }
#lblProductStatus + br { display: none; }

.varpicmax_img { border: 1px solid transparent; }
.ProductDetailsVariations input[type=checkbox] + label { display: inline; font-weight: normal; padding-left: 5px; vertical-align: top; }

.ProductDetailsSelectedVariant { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6); }
.ProductDetailsSwatches ul { margin: 0; }
.ProductDetailsSwatches li { float: left; margin: 5px 5px 0 0; }
.Variant > br, .ProductDetailsVariations > br { display: none; }
.media-body .StarRatings { margin-left: 10px; }

.ProductDetailsQuantityPriceTable tr:first-child td { border-top: none; }
.ProductDetailsQuantityPriceTable  p { margin: 0; line-height: inherit; }
/* [/ProductDetails] */

/* [Catalog] */
.CatalogItemQuantityBox input { width: 75px !important; text-align: center; }
/* [/Catalog] */

/* [Category] */
.product-list div[class*=col-] { transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; }
.category-product .thumbnail { min-height: 260px; line-height: 260px; margin-bottom: 10px; }
.category-product .thumbnail img { display: inline; }

.Pagination li { border-radius: 2px; }
.Pagination li:first-child { margin-left: 5px; }
.Pagination li > a, .Pagination li > a:hover { color: inherit; border-radius: 2px; }
.Pagination .CurrentPage { color: #ccc; }


.category-product .description { display: none; opacity: 0; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; }
.list-view.category-product .description { display: block; opacity: 1; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; }
.list-view .thumbnail {  }
.list-view-only { display: none; opacity: 0; }
.list-view .list-view-only { display: block; opacity: 1; }
/* [/Category] */

/* [ShoppingCart] */
.ShoppingCartTable { width: 100%; }
.ShoppingCart { text-align: left; padding: 30px 0 0; vertical-align: top; }


.ShoppingCartProductDescriptionHeader { width: 235px; }
.ShoppingCartSpacer { width: 20px; padding: 0; }
.ShoppingCartUnitPriceHeader { text-align: center; }
.ShoppingCartTotalHeader { text-align: center; }
.ShoppingCartQuantityHeader { text-align: center; }

.CartBorder { border: none; height: 75px; }
.ShoppingCartQuantity .CartBorder { line-height: 1; }
.ProductInfo { margin: 0; }
.ItemName a { color: #000; }
.ItemNumber { color: #666; font-size: 11px; }
.Variants { color: #666; font-size: 11px; }
.Personalizations { color: #666; font-size: 11px; }

.ShoppingCartPrice { font-weight: normal; font-size: 20px; text-align: center; padding: 30px 0 0 0; vertical-align: top; }
.ShoppingCartQuantity { text-align: center; vertical-align: top; }
.ShoppingCartRemove { text-align: center; }
.UnderCartSubTotal { border: 1px solid #dddfde; border-left: none; border-right: none; margin-top: 30px; font-size: 23px; font-weight: bold; text-align: right; padding: 10px 20px; line-height: 100%; text-transform: uppercase; }

.UpdateButton { font-size: 10px; }
.ShoppingCartPage td.ShoppingCartTotals { text-align: left; padding: 5px; font-weight: bold; }
td.ShoppingCartTotals { text-align: right; }
td.ShoppingCartDiscount { text-align: left; padding: 5px; }
.ShoppingCartClear { float: left; text-align: left; }
.ShoppingCartChildBranch { float: left; vertical-align: top; }
.dvChkSelect { display: inline; }
.PayPalGoogleCO { text-align: center; }
.ShoppingCartError { text-align: center; }
#dvCalculateShippingForm { text-align: left; }
.ShippingCalcLabel { font-weight: bold; }
.ShippingCalcField { padding: 5px 0 0 0; }
.ShippingCalcFieldLabel { display: block; text-align: left; padding: 2px 0 0; }
.ShoppingCartSelectCheckbox { border: 0; }
.ShoppingCartQtyTextbox { width: 40px; text-align: center; }
.ShoppingCartInlineCalculateShippingForm { display: inline; }
.ShoppingCartInlinePostalCode { display: inline; float: left; }
.ShoppingCartInlinePostalCodeTextbox { width: 72px; }
.ShoppingCartCouponCodeTextbox { width: 80px; }
.ShoppingCartSavedCartText { text-align: center; }

.cartCents, .cartUnits { font-size: 60%; top: -5px; position: relative; }
.CartItemPriceArea, .CartItemTotalArea, .CartUpdateItemArea { display: table; margin: 0 auto; text-align: center; height: 75px; line-height: 1; }
.CartItemPriceArea > div, .CartItemTotalArea > div, .CartUpdateItemArea > div { display: table-cell; vertical-align: middle; }

.SubTotal { font-size: 25px; font-weight: bold; text-transform: uppercase; color: #000; }
.Discounts { color: #dd4c15; line-height: 25px; }
.ShippingCost { line-height: 25px; }
.LineItemPrice { float: right; text-align: right; font-weight: bold; font-size: 23px; *position: relative; *top: -25px; }
.PriceNegative { color: #dd4c15; }


.GiftCertificates p { font-size: 11px; opacity: 0.75; }
.GiftCertificates .LineItemPrice { font-size: 14px; }

.ShoppingCartTotalsArea { position: relative; clear: both; }
.ShoppingCartTotalsTable { width: 100%; margin-bottom: 15px; }
.ShoppingCartLeftBottom { text-align: center; }

.OrderTotal { line-height: 25px; font-size: 14px; margin: 20px 0; padding: 10px 0 0; border-top: 1px solid #dddfde; }
.OrderTotal .LineItemPrice { font-size: 30px; }

.ShoppingCartButtons { margin: 20px 0 20px; text-align: right; }
.ShoppingCartCustomMessage {  }
.TopCheckoutButton { text-align: right; }

.PayWith { position: relative; border: 1px solid #dddfde; border-radius: 4px; padding: 20px 0 15px; margin: 20px 0 0; text-align: center; }
.PayWith strong { position: absolute; top: -7px; font-style: italic; display: block; margin-left: -50px; background: #fff; width: 100px; line-height: 100%; left: 50%; font-size: 13px; }

.ShoppingCartCouponCode { padding: 20px 0; }
.ShoppingCartCouponCode h3 { text-transform: uppercase; cursor: pointer; font-size: 18px; color: #333; background: none; }
.ShoppingCartCouponCode .expand {  }
.CouponEntry { display: none; position: relative; margin: 0 0 20px 0; }
.CouponMsg { margin: 5px 0; }

.ShippingSelect { position: relative; margin: 0 5px 0 0; }
.ShippingSelect select { width: 210px; }
.ShippingSelect input { float: right; }
.acceptedCreditCardLogos {  }
.acceptedCreditCardLogos div { display: inline-block; *display: inline; zoom: 1; margin: 0px 2px 10px; padding: 0; height: 22px; width: 33px; }
.acceptedCreditCardLogos .jcb { background: url("/store/i/jcb_33x22.jpg") no-repeat; }
.acceptedCreditCardLogos  span { display: none; }
.acceptedCreditCardLogos .visa { background: url("/store/i/visa_33x22.jpg") no-repeat; }
.acceptedCreditCardLogos .amex { background: url("/store/i/amex_33x22.jpg") no-repeat; }
.acceptedCreditCardLogos .discover { background: url("/store/i/discover_33x22.jpg") no-repeat; }
.acceptedCreditCardLogos .bankcard { background: url("/store/i/bankcard_33x22.jpg") no-repeat; }
.acceptedCreditCardLogos .mastercard { background: url("/store/i/mastercard_33x22.jpg") no-repeat; }
.acceptedCreditCardLogos .dinersclub { background: url("/store/i/diners_33x22.jpg") no-repeat; }

.LastItemAdded { font-size: 11px; min-height: 100px; margin-right: 255px; background: #f2f3f5; border-radius: 3px; padding: 1px; margin-bottom: 10px; }
.LastItemAdded img { float: left; margin-right: 10px; max-width: 75px; max-height: 80px; } 
.LastItemAdded strong { display: block; padding: 0 0 10px; border-bottom: 2px solid #DDDFDE; font-size: 14px; }


.UpsellItem { padding: 10px 0 0; display: block; margin: auto; cursor: pointer; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-color: transparent; border-style: solid; border-width: 1px; overflow: hidden; }
.UpsellItem:hover { background-color: #fff; border-color: #686868; color: #1D4B7C; text-decoration: none; }
.UpsellItemAddToCartText { visibility: hidden; padding: 4px; background: #686868; font-weight: bold; color: #fff; }
.UpsellItem:hover .UpsellItemAddToCartText { visibility: visible; }

input.ShoppingCartCheckoutThemeButton { width: 100%; height: 50px; font-size: 18px !important; }

.RewardPointsEarned { text-align: center; }
.PointsTotal { font-size: 12px; font-weight: normal; }

.ShoppingCartButtons .ThemeButton { margin-bottom: 4px; vertical-align: top; }
.ShoppingCartButtons .ThemeButton:last-of-type { margin-bottom: 0; }
/* [/ShoppingCart] */

/* [LargeShoppingCart] */
.ShoppingCart {  }
.ShoppingCartHeader {  }
.ShoppingCartClear {  }
.ShoppingCartPrice {  }
.ShoppingCartTotals {  }
.ShoppingCartShippingInfo {  }
.ShoppingCartDiscount {  }
.ShoppingCartCouponCode {  }
.ShoppingCartThumbnail {  }
.ShoppingCartItemNr {  }
.ShoppingCartVariations {  }
.ShoppingCartPersonalize {  }
.ShoppingCartGiftMessage {  }
.ErrorText {  }
.ShoppingCartSelectCheckbox { border: 0; }
input.ShoppingCartQtyTextbox { width: 40px; padding: 0; }
.ShoppingCartInlineCalculateShippingForm { display: inline; }
.ShoppingCartInlinePostalCode { display: inline; float: left; }
.ShoppingCartInlinePostalCodeTextbox { width: 150px; }
.ShoppingCartCouponCodeTextbox { width: 80px; }
.ShoppingCartSavedCartText { text-align: center; }
/* [/LargeShoppingCart] */

/* [LinkGroup] */

/* [/LinkGroup] */

/* [MailingList] */

/* [/MailingList] */

/* [ManufacturerNavigationLinks] */

/* [/ManufacturerNavigationLinks] */

/* [MicroStoreDropDown] */
.MicroStoreDropDown { width: 160px; }
/* [/MicroStoreDropDown] */

/* [ProductDisplay] */
.FeaturedItemsRating {  }
.FeaturedItemsDetails {  }
.FeaturedItemsPriceHR {  }
.FeaturedItemsPriceAlignment {  }
.FeaturedItemsBuyMoreLinkHR {  }
.FeatureItemsThumbNail {  }
.PriceLabels {  }
.ProductDisplayBuyNowLink { font-size: 7pt; text-decoration: none; }
.ProductDisplayMoreLink { font-size: 7pt; text-decoration: none; }
.ProductDisplayStatus { font-size: 7pt; text-decoration: none; }
.ProductDisplayBuyMoreArea { float: right; padding-right: 5px; display: inline; }
/* [/ProductDisplay] */

/* [ProductReviewsListing] */
.ProductReviewDimensionName {  }
.ProductReviewSummary {  }
.ProductReviewWriteLink {  }
.ProductReviewAllReviewsLink {  }
.ProductReviewTitle {  }
.ProductReviewRatings {  }
.ProductReviewBody {  }
.ProductReviewProsArea {  }
.ProductReviewProsHeader {  }
.ProductReviewPros {  }
.ProductReviewConsArea {  }
.ProductReviewConsHeader {  }
.ProductReviewCons {  }
.ProductReviewItemMeta {  }
/* [/ProductReviewsListing] */

/* [QuickOrderEntry] */
.QuickOrderEntryHeader { text-align: center; }
.QuickOrderEntryItemNumberTextbox { width: 100px; }
.QuickOrderEntryQuantityTextbox { width: 50px; }
.QuickOrderEntryAddButton { text-align: center; }
/* [/QuickOrderEntry] */

/* [RepeatedList] */

/* [/RepeatedList] */

/* [RSSFeedReader] */

/* [/RSSFeedReader] */

/* [SearchBox] */

/* [/SearchBox] */

/* [SmallShoppingCart] */
.SmallCartItemLink { text-decoration: underline; }
input.SmallCartQtyTextbox, input.SmallCartQtyTextbox:focus { padding: 0; border: none; border-bottom: 1px dotted #ccc; height: auto; width: 30px; box-shadow: none; border-radius: 0; text-align: center; }
input.SmallCartQtyTextbox:focus { border-color: #66afe9; }
.SmallCartItem .badge { line-height: 20px; width: 20px; padding: 0; }
/* [/SmallShoppingCart] */

/* [Tabs] */

/* [/Tabs] */

/* [TreeNavigation] */
.Node {  }
.NodeHover {  }
.NodeSelected {  }
.RootNode {  }
.LeafNode {  }
.Island {  }
/* [/TreeNavigation] */

/* [WidgetArea] */

/* [/WidgetArea] */

/* [Widget6082] */
.Control_6082 { float: left; }
.ControlHeader_6082 {  }
.ControlItem_6082 {  }
.ControlLink_6082 {  }
.ControlLink_6082 a {  }
.ControlLink_6082 a:hover {  }
.ControlLinkSeperator_6082 {  }
.ControlText_6082 {  }
.ControlInput_6082 {  }
.ControlFooter_6082 {  }
/* [/Widget6082] */

/* [Widget6083] */
.Control_6083 { float: right; }
.ControlHeader_6083 {  }
.ControlItem_6083 {  }
.ControlLink_6083 {  }
.ControlLink_6083 a {  }
.ControlLink_6083 a:hover {  }
.ControlLinkSeperator_6083 {  }
.ControlText_6083 {  }
.ControlInput_6083 {  }
.ControlFooter_6083 {  }
/* [/Widget6083] */

/* [Widget6076] */
.Control_6076 { text-align: right; }
.ControlHeader_6076 {  }
.ControlItem_6076 {  }
.ControlLink_6076 {  }
.ControlLink_6076 a {  }
.ControlLink_6076 a:hover {  }
.ControlLinkSeperator_6076 {  }
.ControlText_6076 {  }
.ControlInput_6076 {  }
.ControlFooter_6076 {  }
/* [/Widget6076] */

/* [Buttons] */
/* .ThemeButton { display: inline-block; background: #e4e4e4; -webkit-box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset, 0 10px 10px 0 rgba(255,255,255,0.5) inset; -moz-box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset, 0 10px 10px 0 rgba(255,255,255,0.5) inset; box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset, 0 10px 10px 0 rgba(255,255,255,0.5) inset; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: none; padding: 7px 15px; font-family: arial; font-size: 11px; color: #595959; font-weight: bold; cursor: pointer; }
.ThemeButton:hover { -webkit-box-shadow: 0px 0px 0px 1px #a8a8a8 inset, 1px 1px 4px 0px #bababa; -moz-box-shadow: 0px 0px 0px 1px #a8a8a8 inset, 1px 1px 4px 0px #bababa; box-shadow: 0px 0px 0px 1px #a8a8a8 inset, 1px 1px 4px 0px #bababa; color: #424242; }
.ThemeButton:active { background: #e6e6e6; -webkit-box-shadow: 0px 1px 5px 0px #808080 inset; -moz-box-shadow: 0px 1px 5px 0px #808080 inset; box-shadow: 0px 1px 5px 0px #808080 inset; } */
.GoThemeButton { padding: 5px; }
/* [/Buttons] */

/* [Slideshow] */
.Slideshow { position: relative; }
.SlideList, Slide { margin: 0; padding: 0; list-style: none; }
.Slide { overflow: hidden; }
.SlideshowButtons { margin: 0; padding: 0; left: 1em; bottom: 1em; position: absolute; }
.SlideshowButton { margin: 0 1em 0 0; padding: 0; float: left; list-style: none; }
.SlideshowButtonLink { float: left; width: 20px; height: 20px; text-indent: -9999px; border: 3px solid #222; border-radius: 50%; }
.SlideshowButtonLinkCurrent { background: #222; }
.SlideshowButtonLink:focus { outline: none; }
.SlideshowPrevious { position: absolute; left: 5px; background: #666; color: #fff; }
.SlideshowNext { position: absolute; right: 5px; background: #666; color: #fff; }
.SlideshowPreviousLink { color: #fff; padding: 5px; display: block; }
.SlideshowNextLink { color: #fff; padding: 5px; display: block; }
/* [/Slideshow] */

/* [Widget5986] */
.Control_5986 {  }
.Control_5986 table { background: #f2f3f5; }
.Control_5986 td { vertical-align: top; }
.ControlHeader_5986 { font-size: 13px; font-style: italic; margin: 10px 0; text-align: center; }
.ControlItem_5986 { text-align: center; padding: 20px 0; border-bottom: 1px solid #dfdfe1; margin: 0 12px; }
.Control_5986 tr:last-child .ControlItem_5986 { border: none; }
.ControlLink_5986 { padding: 10px 0; display: block; width: 120px; overflow: hidden; text-overflow: ellipsis; }
.Control_5986 img.FeaturedItemsThumbNail { padding: 3px; border: 1px solid #DDDFDE !important; box-shadow: 2px 2px 3px #dddfde; max-width: 75px; max-height: 150px; }
.Control_5986 .lblPriceLabel { display: none; }
.Control_5986 .UpsellItemPrice { font-size: 20px; }
/* [/Widget5986] */

/* [BlogRoll] */
/* these are shared between Blog Post, Blog Roll, and Blog Roll Widget */

.BlogPostCommentProfileName {  }
.BlogPostTitle { padding: 0; margin: 0; font-weight: normal; }
.BlogPostImage {  }
.BlogPostCategoryAndTags { padding: 15px 0; color: #999; }
.BlogPostTags { padding: 0 0 0 10px; display: inline; }
.BlogPostTag { display: inline-block; *display: inline; padding: 0 3px; background: #eee; border-radius: 3px; border: 1px solid #ddd; margin: 0 5px 0 0; }
.BlogPostTag a { color: #999; }
.BlogPostCategories, .BlogPostCategory { display: inline; }
.BlogCommentModerationMessage { background: #FEEFB3; color: #9F6000; border: 1px solid #9F6000; border-radius: 5px; padding: 10px; margin: 10px; -webkit-transition: 0.5s; -moz-transition: 0.5s; transition: 0.5s; }
.BlogCommentModerationMessage.Flash { background: #FFF5CF; -webkit-transition: 0.5s; -moz-transition: 0.5s; transition: 0.5s; }
.BlogPostComments  .BlogPostCommentsHeader, .BlogPostComments  .BlogPostCommentsHeader h3, .BlogPostComments  .BlogPostCommentCount { display: inline; font-size: 24px; }


.BlogRoll .BlogPostCommentProfileImage { float: left; padding-right: 10px; }
.BlogRoll .BlogPostCommentText { margin: 0; }
.BlogRoll .BlogPostCommentDisplayName { margin-top: -5px; }
.BlogRoll .BlogPostCommentsAddTextbox { height: 50px; }
.BlogRollFeedLinks { float: right; padding: 5px 0; }
.BlogRollBlogImage { padding: 0 0 10px 0; max-width: 100%; }
.BlogRollBlogImage img { display: block; max-width: 100%; }

.BlogPostDatePretty { position: relative; float: left; width: 50px; height: 45px; color: #999; margin: 10px 10px 10px 0; }
.DateMonth, .DateDay, .DateYear { position: absolute; text-indent: -9999px; background: url(/store/i/a/login-date-sprite.png) no-repeat; }
.DateMonth { top: 0; left: 0; width: 30px; height: 18px; }
.DateDay { top: 18px; font-size: 18px; line-height: 18px; width: 31px; height: 24px; text-align: center; }
.DateYear { right: 0; top: 0px; width: 21px; height: 45px; }
.month-1 { background-position: 0px -50px; }
.month-2 { background-position: 0px -81px; }
.month-3 { background-position: 0px -112px; }
.month-4 { background-position: 0px -143px; }
.month-5 { background-position: 0px -174px; }
.month-6 { background-position: 0px -205px; }
.month-7 { background-position: 0px -236px; }
.month-8 { background-position: 0px -267px; }
.month-9 { background-position: 0px -298px; }
.month-10 { background-position: 0px -329px; }
.month-11 { background-position: 0px -360px; }
.month-12 { background-position: 0px -391px; }

.day-1 { background-position: -51px -45px; }
.day-2 { background-position: -51px -76px; }
.day-3 { background-position: -51px -107px; }
.day-4 { background-position: -51px -138px; }
.day-5 { background-position: -51px -169px; }
.day-6 { background-position: -51px -200px; }
.day-7 { background-position: -51px -231px; }
.day-8 { background-position: -51px -263px; }
.day-9 { background-position: -51px -294px; }
.day-10 { background-position: -51px -325px; }
.day-11 { background-position: -51px -356px; }
.day-12 { background-position: -51px -387px; }
.day-13 { background-position: -51px -418px; }
.day-14 { background-position: -51px -449px; }
.day-15 { background-position: -101px -45px; }
.day-16 { background-position: -101px -76px; }
.day-17 { background-position: -101px -107px; }
.day-18 { background-position: -101px -139px; }
.day-19 { background-position: -101px -171px; }
.day-20 { background-position: -101px -201px; }
.day-21 { background-position: -101px -232px; }
.day-22 { background-position: -101px -263px; }
.day-23 { background-position: -101px -294px; }
.day-24 { background-position: -101px -325px; }
.day-25 { background-position: -101px -356px; }
.day-26 { background-position: -101px -387px; }
.day-27 { background-position: -101px -418px; }
.day-28 { background-position: -101px -450px; }
.day-29 { background-position: -101px -482px; }
.day-30 { background-position: -101px -513px; }
.day-31 { background-position: -101px -545px; }

.year-2011 { background-position: -145px -7px; }
.year-2012 { background-position: -145px -79px; }
.year-2013 { background-position: -145px -145px; }
.year-2014 { background-position: -145px -212px; }
.year-2015 { background-position: -145px -267px; }
.year-2016 { background-position: -145px -322px; }
.year-2017 { background-position: -145px -378px; }
.year-2018 { background-position: -145px -433px; }
.year-2019 { background-position: -145px -488px; }
.year-2020 { background-position: -145px -544px; }
/* [/BlogRoll] */

/* [BlogPost] */
.BlogPostCommentNameDate { font-size: 10px; }

.BlogPostAddCommentHide, .HideComments { display: none; }
.BlogPostCommentHighlightCurrent { background: #FFFCDF; border-radius: 3px; box-shadow: 0 0 10px rgba(0,0,0,0.2); }

.AdminCommentLabel, .AuthorCommentLabel { display: none; }
.AdminCommentLabel.BlogPostCommentByAdmin { display: inline; background: #fff; font-weight: bold; padding: 2px 3px; margin: 2px; }
.AuthorCommentLabel.BlogPostCommentByAuthor { display: inline; background: #fff; font-weight: bold; padding: 2px 3px; margin: 2px; }
/* [/BlogPost] */

/* [Profile] */
.ProfileName { float: left; }
.PofileImage { float: right; padding: 0 0 20px 20px; }
.ProfileInfoTable { margin: 10px 0; clear: left; }
.ProfileTableHeader { margin-top: 20px; clear: both; }
.ProfileTable { width: 100%; }
.ProfileTable th { background: #eee; text-align: left; padding: 3px; }
.ProfileTable td { padding: 3px; border-bottom: 1px solid #eee; }
/* [/Profile] */

/* [BlogTagCloud] */
.BlogTagCloud.Control { text-align: justify; }
.TagCloudList { list-style-type: none; margin: 0; padding: 0; }
.BlogTagCloud .ControlItem { display: inline; padding: 0 5px 0 0; vertical-align: bottom; } 
.BlogTagCloud .ControlLink_Link { -webkit-transition: 0.5s; -moz-transition: -.5s; }
.BlogTagCloud .TagCloud_MinSize { opacity: 0.5; }
.BlogTagCloud .TagCloud_MedSize {  }
.BlogTagCloud .TagCloud_MaxSize { font-weight: bold; }
.BlogTagCloud .ControlLink_Link:hover { color: red; opacity: 1; -webkit-transition: 0.5s; -moz-transition: -.5s; }
/* [/BlogTagCloud] */

/* [WriteReview] */

/* [/WriteReview] */

/* [OnePageCheckOut] */
.checkout .ShoppingCartTotals { text-align:left; font-size:inherit; font-weight:normal; padding:5px 0; }
.checkout .ShoppingCartTotals b { font-weight:normal; }
.checkout .ShoppingCartPrice { font-size:inherit; text-align:right; padding:5px 0; white-space:nowrap; }
#trDiscount a, #trDiscount a:hover { text-decoration:none; }
#trTotal span, #trTotal b, #trAdjustedTotal span, #trAdjustedTotal b { font-weight:bold; }
.OrderGiftingArea input[type=checkbox] { margin-right: 5px; }
#addrBilling_ddAddressList_dd_ddCombo, #addrShipping_ddAddressList_dd_ddCombo, #ddExpireMonth, #txtPointsToApply { width:100% !important; }

.checkout label { position:relative; font-size:1em; padding:20px 0 0; }
.checkout label > span { position:absolute; top:25px; line-height:25px; left:10px; font-size:1em; font-weight:normal; transition:0.1s; opacity:0.5; cursor:text; }
.checkout label  span span, .checkout label input[type=checkbox] + span { position:static; opacity:1; }
.checkout label.active span, 
.checkout label.filled span, 
.checkout label select ~ span,
.checkout label select + span { top:0; left:5px; font-size:10px;  transition:0.1s; -moz-transition:0.1s; opacity:1; cursor:default; }

/* this is a duplicate of the above rule, it seems to break firefox if it's included with the above selectors for some reason */
.checkout input:-webkit-autofill + span { top:0; left:5px; font-size:10px;  transition:0.1s; -moz-transition:0.1s; opacity:1; cursor:default; }

.checkout input[type=checkbox], .checkout input[type=radio] { width:auto !important; }

.checkout label span.ErrorText { position:static; font-size:12px; line-height:1; color:#df8f8e; padding:0; opacity:1; margin:10px 0 0; background:none; box-shadow:none; border:none; }
.field-has-error { 
  background: #ffe4e3 !important; 
  border-color:#df8f8e !important; 
}

.zip-code { display:table; }
.zip-code > div { display:table-cell;}
.zip-code label span { font-size:12px; }
.zip-plus4 { max-width:100px;}
.zip-plus4 input { padding:0; }
.zip-plus4 > div {  padding-left:5px !important; }
.zip-plus4 > div:empty { padding:0; }
.zip-plus4 > div:empty + span { display: none; }

.PublicCommentsArea { width:auto !important; position:static; float:none !important; }

.RequiredField { color:#df8f8e; font-weight:bold; line-height:1; font-size:150%; padding-left:5px; }

.payment-method .payment-name { cursor:pointer; }
.payment-method .payment-name:before { display:inline-block; content:' '; width:0px;height:0px; border-style:solid; border-color:transparent transparent transparent; border-left-color:inherit; border-width:5px 5px 5px 10px; position:relative; top:-3px; }
.payment-method.active .payment-name:before { border-color:transparent; border-top-color:inherit; border-width:10px 5px 5px 5px; top:2px; }

.custom-fields .field { min-height:80px; }

label.remove-payment, 
label.image-input-replace { position:relative; padding:0; font-weight:inherit; }

label.remove-payment a,
label.image-input-replace a { cursor:pointer; }

label.remove-payment input, 
label.image-input-replace input { position:absolute; top:0;bottom:0;left:0;right:0; width:100%;height:100%; opacity:0;visibility:hidden; }

.floating-totals { min-height:1px; }


.PayPalExpress .payment-name, .PayPal .payment-name {
  background: url('../images/paypal-logo.png') no-repeat top left;
  text-indent: 90px;
  margin-left: 20px;
  height:25px;
}
.PayPalExpress .payment-name:before, .PayPal .payment-name:before { left:-110px; }
.PayPalExpress .payment-name span, .PayPal .payment-name span { display:none; }
.PayPal .paypal-text { display:none; }
.PayPal.active .paypal-text { display:block; }
.OnePageCheckOut .ShoppingCartCouponCode { padding:0; }
/* [/OnePageCheckOut] */

/* [MyAccount] */
.MyAccountPercentBarArea { border: 1px solid #999; border-radius: 5px; }
.MyAccountPercentBarInner { padding: 1px; }
.MyAccountPercentBar { border-radius: 4px; background: #66CC66; box-shadow: -5px -5px 5px rgba(0,0,0,0.25) inset, 5px 5px 5px rgba(255,255,255,0.5) inset; text-align: center; font-weight: bold; font-size: 11px; line-height: 15px; }

.MyAccountShowHideTable { display: none; }

.MyAccountSection .StarRatings { float: none; margin: 0 auto; }
.MyAccountSection .StarRatings td { padding: 0 2px; border: none; }
.CustomField.MyAccountSectionEntry { padding: 0 0 10px; width: 48%; float: left; min-height: 40px; }
.CustomField.MyAccountSectionEntry:nth-child(2n) { margin-bottom: 15px; }
#trAddNew { font-weight: bold; }
/* [/MyAccount] */

/* [CustomerLogin] */
.CustomerLoginEmailTextbox { width: 180px; }
/* [/CustomerLogin] */

/* [CategoryNavigationLinks] */
.BrowseCategoryIcon {  }
/* [/CategoryNavigationLinks] */

/* [AttributeNavigationLinks] */
.BrowseByAttributeFilterButtonArea {  }
.BrowseByAttHeader {  }
/* [/AttributeNavigationLinks] */

/* [HTML] */

/* [/HTML] */

/* [Carousel] */

/* [/Carousel] */

/* [Widget2496] */
.Control_2496 {  }
.ControlHeader_2496 {  }
.ControlItem_2496 {  }
.ControlLink_2496 {  }
.ControlLink_2496:hover {  }
.ControlLink_2496 a {  }
.ControlLink_2496 a:hover {  }
.ControlLink_Link_2496 {  }
.ControlLink_Link_2496:hover {  }
.ControlLinkSeperator_2496 {  }
.ControlText_2496 {  }
.ControlInput_2496 {  }
.ControlFooter_2496 {  }
.SmallCartItemLink_2496 { text-decoration: underline; }
.SmallCartQtyTextbox_2496 { border-color: #333333; border-width: 1px; border-style: Solid; font-size: 8pt; width: 30px; }
/* [/Widget2496] */

/* [Widget2370] */
.Control_2370 {  }
.ControlHeader_2370 {  }
.Control_2370 h4 { margin-bottom: 0; }
.ControlItem_2370 {  }
.ControlLink_2370 {  }
.ControlLink_2370:hover {  }
.ControlLink_2370 a {  }
.ControlLink_2370 a:hover {  }
.ControlLink_Link_2370 {  }
.ControlLink_Link_2370:hover {  }
.ControlLinkSeperator_2370 {  }
.ControlText_2370 {  }
.ControlInput_2370 {  }
.ControlFooter_2370 {  }
.FeaturedItemsRating_2370 {  }
.FeaturedItemsDetails_2370 {  }
.FeaturedItemsPriceHR_2370 {  }
.FeaturedItemsPriceAlignment_2370 {  }
.FeaturedItemsBuyMoreLinkHR_2370 {  }
.FeaturedItemsThumbnail_2370 {  }
.PriceLabels_2370 {  }
.ProductDisplayBuyNowLink_2370 { font-size: 7pt; text-decoration: none; }
.ProductDisplayMoreLink_2370 { font-size: 7pt; text-decoration: none; }
.ProductDisplayStatus_2370 { font-size: 7pt; text-decoration: none; }
.ProductDisplayBuyMoreArea_2370 { float: right; padding-right: 5px; display: inline; }
/* [/Widget2370] */

/* [Widget2515] */
.Control_2515 { padding-top: 20px; padding-bottom: 20px; }
.ControlHeader_2515 {  }
.ControlItem_2515 {  }
.ControlLink_2515 {  }
.ControlLink_2515:hover {  }
.ControlLink_2515 a {  }
.ControlLink_2515 a:hover {  }
.ControlLink_Link_2515 {  }
.ControlLink_Link_2515:hover {  }
.ControlLinkSeperator_2515 {  }
.ControlText_2515 {  }
.ControlInput_2515 {  }
.ControlFooter_2515 {  }
.BlogTagCloud.Control_2515 { text-align: justify; }
.TagCloudList_2515 { list-style-type: none; margin: 0; padding: 0; }
.BlogTagCloud .ControlItem_2515 { display: inline; padding: 0 5px 0 0; vertical-align: bottom; }
.BlogTagCloud .ControlLink_Link_2515 { -webkit-transition: 0.5s; -moz-transition: -.5s; }
.BlogTagCloud .TagCloud_MinSize_2515 { opacity: 0.5; }
.BlogTagCloud .TagCloud_MedSize_2515 {  }
.BlogTagCloud .TagCloud_MaxSize_2515 { font-weight: bold; }
.BlogTagCloud .ControlLink_Link:hover_2515 { color: red; opacity: 1; -webkit-transition: 0.5s; -moz-transition: -.5s; }
/* [/Widget2515] */

/* [Widget6093] */
.ControlLink_6093:hover {  }


.ControlLink_Link_6093 {  }
.ControlLink_Link_6093:hover {  }
/* [/Widget6093] */

/* [Widget2371] */
.Control_2371 {  }
.Control_2371 h4 { margin-bottom: 0; }
.ControlHeader_2371 {  }
.ControlItem_2371 {  }
.ControlLink_2371 {  }
.ControlLink_2371:hover {  }
.ControlLink_2371 a {  }
.ControlLink_2371 a:hover {  }
.ControlLink_Link_2371 {  }
.ControlLink_Link_2371:hover {  }
.ControlLinkSeperator_2371 {  }
.ControlText_2371 {  }
.ControlInput_2371 {  }
.ControlFooter_2371 {  }
.FeaturedItemsRating_2371 {  }
.FeaturedItemsDetails_2371 {  }
.FeaturedItemsPriceHR_2371 {  }
.FeaturedItemsPriceAlignment_2371 {  }
.FeaturedItemsBuyMoreLinkHR_2371 {  }
.FeaturedItemsThumbnail_2371 {  }
.PriceLabels_2371 {  }
.ProductDisplayBuyNowLink_2371 { font-size: 7pt; text-decoration: none; }
.ProductDisplayMoreLink_2371 { font-size: 7pt; text-decoration: none; }
.ProductDisplayStatus_2371 { font-size: 7pt; text-decoration: none; }
.ProductDisplayBuyMoreArea_2371 { float: right; padding-right: 5px; display: inline; }
/* [/Widget2371] */

/* [Widget2508] */
.Control_2508 {  }
.ControlHeader_2508 {  }

.ControlItem_2508 {  }
.ControlText_2508 {  }
.ControlInput_2508 {  }
/* [/Widget2508] */

/* [Widget2502] */
.Control_2502 {  }
.Control_2502 a { font-size: 1.5em; }
/* [/Widget2502] */

/* [BlogDrillDown] */
.BlogDrillDownIcon { display: inline-block; *display: inline; zoom: 1; padding: 0 5px; vertical-align: middle; }
.BlogDrillDown .ControlLink { display: inline-block; *display: inline; zoom: 1; }
/* [/BlogDrillDown] */

/* [UploadFile] */
.ShippingEstimationRateTable td { padding: 5px 0; }
.ShippingEstimationRate span { padding-left: 10px; font-weight: bold; }
/* [/UploadFile] */

/* [AttributeGroupLinks] */

/* [/AttributeGroupLinks] */

/* [CheckOut] */
.CheckOutHeader { font-weight: bold; font-size: 16px; }
.CheckOutSubHeader { font-weight: bold; font-size: 16x; margin-bottom: 20px; }
.CardFieldHeaders { background: #666; color: #fff; padding: 5px; }
.OnePageCheckoutShoppingCart .ShoppingCartPrice { padding: 10px 0; font-size: inherit; border: none; }
.SplitPaymentLink { cursor: pointer; }
#tbAppliedPayments { width: 100%; }
.AppliedPaymentHeader th { padding: 5px; }
.AddressEditorZipCodePlus4Textbox { width: 50px; }
.AddressBookEditor { padding: 2px 10px 2px 0; }
.OnePageCheckoutShoppingCart td { padding: 5px; border-bottom: 1px solid #e5e5e5; }
.ShoppingCartVariations td { padding: 0 0 0 20px; border: none; }
.OnePageCheckoutShoppingCart .ShoppingCartTotals { border: none; }
.form-signin { max-width: 330px; padding: 15px; margin: 0 auto; }
.form-signin .form-signin-heading, .form-signin .checkbox { margin-bottom: 10px; }
.form-signin .checkbox { font-weight: normal; }
.form-signin input { position: relative; font-size: 16px; height: auto; padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; }
.form-signin input:focus { z-index: 2; }
.form-signin input[type="text"] { margin-bottom: -1px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.form-signin input[type="password"] { margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0; }
/* [/Checkout] */
